*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.spinLoader{
    
    height:30px;
    width:30px;
    margin-top: 2px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }