.update-button{

        padding:14px 26px;
        border-radius: 6px;
        font-weight: 700;
        border: none;
        background-color: blueviolet;
        color: #fff;
        cursor: pointer;
      
      }
         